APP_KEY={{ app_key }}
APP_URL={{ app_url }}
DB_PASSWORD={{ db_password }}
DB_ROOT_PASSWORD={{ db_root_password }}
SPRINTLOG_IMAGE={{ sprintlog_image }}
SWARM_MANAGER_HOSTNAME={{ swarm_manager_hostname }}
